* {
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: rgb(209, 224, 224); */
  /* background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  ); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    331deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(253, 253, 255, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.nav {
  width: 100%;
  height: 9%;
  /* background-color: rgb(209, 183, 233);  */
  background-color: #8bc6ec;
  background-image: linear-gradient(
    135deg,
    #8bc6ec 0%,
    #9599e2 30%,
    #403939 66%,
    #676161 100%
  );

  /* justify-content: center; */
  /* align-content: center; */
  font-size: 35px;
  font-weight: 1000;
  text-decoration: none;
  border: 3px solid black;
  align-self: center;
  /* display: flex; */
  align-items: center;
  box-shadow: 2px 6px 15px black;
}
#navul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-left: 20px;
  text-decoration: none;
  list-style: none;
  align-items: center;
  height: 89px;
}
li {
  text-decoration: none;
  margin-right: 39px;
  font-size: 55px;
  color: azure;
  align-items: center;
  /* margin-bottom: 25px; */
}
a {
  text-decoration: none;
  margin-right: 70px;
  text-decoration: dashed;
  color: rgb(255, 141, 12);
  align-items: center;
}
a:hover {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  border: 5px solid black;
  box-shadow: 4px 6px black;
  font-size: 50px;
  color: rgb(0, 0, 0);
  transition: all 2s linear;
}
h4 {
  text-decoration: none;
  font-size: 80px;
  text-shadow: -18px -10px 11px rgb(0 0 0);
  font-family: system-ui;
  margin-right: 30px;
  color: rgb(255, 255, 255);
}
ul {
  text-decoration: none;
  color: aliceblue;
  align-items: center;
  margin-top: 25px;
  list-style: none;
}
.footerbox {
  width: 100vw;
  height: 38px;
  text-align: center;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  font-size: 30px;
  color: whitesmoke;
  text-align: center;
}

.contentbox section {
  width: 45%;
  height: 85%;
  padding: 130px;
  background-color: #8bc6ec;
  background-image: linear-gradient(
    135deg,
    #8bc6ec 2%,
    #9599e2 10%,
    #443e3e 58%
  );

  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 40px;
  gap: 50px;
  box-shadow: 32px 24px 31px black;
}
h1 {
  font-size: 60px;
}

.image img {
  width: 100%;
  /* height: 64%; */
  /* height: auto; */
  /* display: block; */
  transition: transform 0.3s ease;
  /* border: 2px solid black; */
  border-radius: 60px;
  box-shadow: 2px 3px 4pc solid black;
  padding-right: 30px;
  margin-right: 51px;
}
.image {
  position: relative;
  overflow: hidden;
  /* height: auto; */
}
.image:hover {
  margin-top: 50px;
  transform: scale(1.1) rotate(5deg);
  transition: all 0.6s linear;
  /* height: auto; */
}
.image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  display: flex;
  align-items: center;
  border-radius: 60px;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  opacity: 0;
  box-shadow: 3px 3px 4px #443e3e;
  transition: 0.3s ease, 0.3s ease; /* Smooth transition for opacity and background */
}

.image .overlay:hover {
  opacity: 1;
}
#list li p {
  padding-left: 20px;
  color: black;
  font-weight: 900;

  list-style: none;
}
.image {
  box-shadow: 2px 3px 4pc solid black;
}
.contentbox #section1 {
  /* display: flex; */
  width: 45%; /* Adjust width as needed */
  float: right; /* Moves the section to the right */
  margin-right: 20px; /* Adds some space to the right edge */
  margin-top: 20px; /* Adds space above the section */
  margin-bottom: 75px;
}
.contentbox #section2 {
  margin: 20px;
}
#logo {
  display: inline;
  height: 1300px; /* You can set this to any size you prefer */
  width: auto; /* Maintain the aspect ratio of the image */
  transition: all 0.6s linear; /* Smooth transition for all properties */
}
#logo :hover {
  /* transition: all 0.6s linear; */
  transform: scale(1.1) rotate(5deg);
}

.logo {
  display: inline-block;
  float: left;
}

#h2 {
  display: inline;
  font-size: 100px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: -6px -8px 112px rgb(0, 0, 0);
}
.logo img {
  transition: all 0.6s linear; /* Smooth transition for all properties */
}

.logo img:hover {
  transform: scale(1.1) rotate(5deg); /* Scale up and slightly rotate the image on hover */
}
.logo2{
display: inline;
float: right;
}
#logo2{
  display: inline;
float: right;
}